@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face{
    font-family: 'miFuentebold';
    src: url(../tipo/Gotham-Bold.otf);
}

@font-face{
    font-family: 'miFuentemedium';
    src: url(../tipo/Gotham-Medium.otf);
}

@font-face{
    font-family: 'miFuentelight';
    src: url(../tipo/Gotham-Light.otf);
}

*{
    border: 1px solid red;
}

.bg-dark{
    background-color: black!important;
}

:root{
    --primary-color: #5E3E1A; 
    --font-navbar: 'Roboto', sans-serif;
    --font-tittle: 'miFuentebold';
    --font-subtittle: 'miFuentemedium';
    --font-text: 'miFuentelight';
}


/* HEADER */


header img{
    width: 6.625rem;
    height: auto;
}

/* NAVBAR */

.bg-primary{
    background-color: var(--primary-color)!important;
}

nav{
    box-shadow: 0px 3px 6px black;
}

nav a{
    color: white;
    font-family: var(--font-subtittle);
    text-decoration: none;
    font-size: 1.125rem;
}


/* HEROSECTION */

#heroSection{
    background-image: url(../img/HeroSectionimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
      
}

#heroSection h1{
    font-family: var(--font-navbar);
    text-shadow: 0px 3px 6px black
}

#heroSection .btn{
    font-family: var(--font-subtittle);   
    box-shadow: 0px 3px 6px black; 
}