@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face{
    font-family: 'miFuentebold';
    src: url(../tipo/Gotham-Bold.otf);
}

@font-face{
    font-family: 'miFuentemedium';
    src: url(../tipo/Gotham-Medium.otf);
}

@font-face{
    font-family: 'miFuentelight';
    src: url(../tipo/Gotham-Light.otf);
}

*{
    border: 1px solid red;
}

.bg-dark{
    background-color: black!important;
}

:root{
    --primary-color: #5E3E1A; 
    --font-navbar: 'Roboto', sans-serif;
    --font-tittle: 'miFuentebold';
    --font-subtittle: 'miFuentemedium';
    --font-text: 'miFuentelight';
}


/* HEADER */

#header{  
  box-shadow: 0px 3px 6px black;
}

header img{
    width: 6.625rem;
    height: auto;
}

/* NAVBAR */

.bg-primary{
    background-color: var(--primary-color)!important;
}

nav{
    box-shadow: 0px 3px 6px black;
}

nav a{
    color: white;
    font-family: var(--font-subtittle);
    text-decoration: none;
    font-size: 1rem;
}


/* HEROSECTION */

#heroSection{
    background-image: url(../img/HeroSectionimage.png);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;      
}

#heroSection h1{
    font-family: var(--font-navbar);
    text-shadow: 0px 3px 6px black
}

#heroSection .btn{
    font-family: var(--font-subtittle);   
    box-shadow: 0px 3px 6px black; 
}

nav a{
  color: rgb(0, 0, 0)!important;
}

.text-dark{
  color: rgb(0, 0, 0)!important;
}
/* PORTAFOLIO */

.col-xs-5,

.col-sm-5,

.col-md-5,

.col-lg-5 {

  min-height: 1px; 

  position: relative;

}

.col-xs-5 {

  float: left;

  width: 20%;

}

@media (min-width: 768px) {

    .col-sm-5 {
  
      float: left;
  
      width: 20%;
  
    }
  
  }
  
  @media (min-width: 992px) {
  
    .col-md-5 {
  
      float: left;
  
      width: 20%;
  
    }
  
  }
  
  @media (min-width: 1200px) {
  
    .col-lg-5 {
  
      float: left;
  
      width: 20%;
  
    }
  
  }

  #homePortafolio h3{
    font-family: var(--font-subtittle);
    font-size: 1rem;

  }

#homePortafolio .img-fluid {
  align-items: middle;
}

@media (min-width: 992px) {
  
  #homePortafolio h3{
    
    font-size: 0.875rem;

  }

}

@media (min-width: 768px) {
  
  #homePortafolio h3{
    
    font-size: 0.875rem;

  }

}

#homePortafolio img{
  box-shadow: 0px 3px 6px black;
}

/* 
ICONOS */

#icon h3{
  font-family: var( --font-tittle);
  font-size: 1rem;
}